@import url('https://fonts.googleapis.com/css2?family=Poppins');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration:none;
}

header{
  width: 100vw;
  height: 100vh;
  background-image: url("maxresdefault.jpg");
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.header-content{
  margin-bottom: 150px;
  color: black;
  text-align:center;
}
.header-content h2{
  text-align: center;
  font-size: 4vmin;
}
.line{
  width: 200px;
  height:4px;
  background: red;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content h1{
  font-size: 7vmin;
  margin-top: 50px;
  margin-bottom: 30px;
}
button{
    width: 150px;
    padding: 10px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid rgb(7, 7, 7);
    background: rgb(252, 4, 4);
    color: white;
    cursor: pointer;
    transition:all .4s;
}
button:hover{
   border-radius: 5px;
   transform: translate(-10px);
   box-shadow: 0 7px 0 -2px #f85959;
}
ul{
  list-style: none;
}
.navbar{
  display: inline-block;
  text-align: center;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
}
.nav-links{
  display: flex;
  align-items: center;
}
.nav-links li{
  margin: 0 30px;
}
.active{
  color: #fc036b;
  text-decoration:underline;
  text-decoration-color:black;
}

section{
  width: 80%;
  margin:80px auto;
}
.title{
  text-align: center;
  font-size: 4vmin;
}
.row{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.row .col{
  display: flex;
  flex-direction: column;
  align-items: center;
}
h4{
  font-size: 3vmin;
  color: black;
  margin: 20px auto;
}
p{
  color:rgb(27, 24, 24);
  padding: 0px 40px;
}
.explore{
  width:100vw;
  height: 100vh;
  background-image: url("cr7.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}
.explore-content{
  width: 50%;
  padding: 50px;
  color: whitesmoke;
  align-items: center;
  flex-direction: column;
}
.explore-content h1{
  font-size: 7vmin;
  margin: 50px;
  text-align: center;
}
.explore-content p{
  font-size: 6vmin;
  color: #fc036b;
}
.explore-content button{
  margin-top: 40px;
}
footer{
    width: 100%;
    height: 100px;
    padding: 20px 80px;
    margin: 0;
    background: rgb(223, 213, 213);
    text-align: center;
}
.nav > ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  background: #313131;
  color: rgb(250, 14, 14);
  width: 1000px;
  text-transform: uppercase;
  font-weight:900;
}
.navbar >ul >li{
    position: relative;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 2px;
    float: left;
    width: 200px;
    height: 50px;
    line-height: 50px;
}
.dropdown{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 0%;
}
.dropdown li{
  background: #ffffff;
  display: none;
}
.dropdown li:hover{
  background: #ff553b;
}
.navbar li:hover > .dropdown{
  perspective: 1000px;
}
.navbar li:hover > .dropdown li{
  transform-origin: top center;
  opacity: 0;
  display: block;
}
.navbar li:hover > .dropdown li:nth-child(1){
  animation:animate 300ms ease-in-out forwards;
  animation-delay: -150ms;
}
.navbar li:hover > .dropdown li:nth-child(2){
  animation:animate 300ms ease-in-out forwards;
  animation-delay: 0ms;
}.navbar li:hover > .dropdown li:nth-child(3){
  animation:animate 300ms ease-in-out forwards;
  animation-delay: 150ms;
}
.navbar li:hover > .dropdown li:nth-child(4){
  animation:animate 300ms ease-in-out forwards;
  animation-delay: 300ms;
}
.navbar li:hover > .dropdown li:nth-child(5){
  animation:animate 300ms ease-in-out forwards;
  animation-delay: 450ms;
}
@keyframes animate{
  0%{
      opacity: 0;
      transform:translate(-100px);
  }
  70%{
      transform:translate(20px);
  }
  100%{
      opacity: 1;
      transform:translate(0px);
  }
}